  :root {
      /*colors*/
      --basic-red: #ee3643;
      --basic-background-button: #f4f4f4;
      --special-yellow: #ffbf47;
      --special-yellow-hover: #d49829;
      --color-dark-red: #ca2c37;
      --color-white: #fff;
      --color-black: #000;
      --color-black-light: #333030;
  }

  body,
  .game-start,
  .info {
      display: flex;

  }

  body {
      flex-direction: column;
      box-sizing: border-box;
      min-width: 500px;
      padding-top: 50px;
      background-color: var(--color-black);
      align-items: center;
      justify-content: center;
      font-family: "Press Start 2p", "Arial", sans-serif;
      color: var(--special-yellow);
      text-shadow: var(--color-black) 1px 1px 1px;
  }


  .score {
      text-transform: uppercase;
  }

  .btn {
      font-family: "Press Start 2p", "Arial", sans-serif;
      color: var(--special-yellow);
      text-shadow: var(--color-black) 1px 1px 1px;
      background-color: transparent;
      border: none;
      cursor: pointer;
  }

  .btn:active {
      border: outset;
  }

  .btn:hover {
      color: var(--special-yellow-hover);
      text-shadow: var(--basic-red) 1px 1px 1px;
  }

  .blur {
      filter: blur(5px);
  }

  canvas {
      margin: 0 auto;
  }


  .game-over,
  .win {
      display: none;
  }


  .modal,
  .game-over,
  .win {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 460px;
      height: 500px;
      margin: auto;
      padding-left: 80px;
      padding-right: 80px;
      border-top: 30px solid var(--basic-red);
      box-shadow: 0px 20px 40px var(--color-black-feedback);
      background: linear-gradient(to bottom, var(--color-black-light) 74%, var(--basic-background-button) 26%);
  }


  .modal-start,
  .modal-new-start,
  .modal-new-start-2 {
      position: absolute;
      display: block;
      z-index: 3;
      bottom: 35px;
      right: 230px;
      background-color: var(--basic-red);
      padding: 0;
      cursor: pointer;
      border: 0;
      width: 150px;
      height: 60px;
      font-size: 18px;
      font-family: "Press Start 2p", "Arial", sans-serif;
      color: var(--color-black);
  }

  .modal-start:hover,
  .modal-new-start:hover,
  .modal-new-start-2:hover {
      background-color: var(--color-dark-red);
      animation: shake 1s;
  }

  .logo {
      display: block;
      position: absolute;
      top: -80px;
      height: 400px;
      margin-left: auto;
      margin-right: auto;
      animation: shake 20s;
  }

  .modal-text {
      display: block;
      margin-top: 10px;
  }

  .game-over-text,
  .win-text {
      display: block;
      font-size: 40px;
      margin: 0 auto;
      margin-top: 150px;
      margin-bottom: 70px;
      padding-left: 85px;
      animation: bounce 0.8s;
  }

  .rules,
  .game-over-question,
  .win-question {
      line-height: 1.5;
  }

  .game-over-question,
  .win-question{
      padding-left: 80px;
  }

  .info,
  .game-over,
  .win {
      z-index: 2;
      position: absolute;
      bottom: 150px;
      width: 500px;
      flex-direction: column;
      animation: bounce 0.8s;
  }

  @keyframes shake {

      0%,
      100% {
          transform: translateY(0);
      }

      10%,
      30%,
      50%,
      70%,
      90% {
          transform: translateY(-10px);
      }

      20%,
      40%,
      60%,
      80% {
          transform: translateY(10px);
      }
  }

  @keyframes bounce {
      0% {
          transform: translateY(-2000px);
      }

      70% {
          transform: translateY(30px);
      }

      90% {
          transform: translateY(-10px);
      }

      100% {
          transform: translateY(0);
      }
  }